<p class="display-2">
    <%= @article.title %>
</p>

<p class="text-justify">
    <%= @article.text %>
</p>

<br />
<%= link_to "Back", articles_path, class: "btn btn-primary" %>
<%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary" %>
<br />

<% if @article.comments.any? %>
<div class="d-grid gap-5"> <br />
    <h2>Comments:</h2>
    <br />
    <%= render @article.comments %>
</div>
<% end %>

<br />
<h2>Make a comment:</h2>
<br />

<%= render "comments/form" %>